<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title></title>
</head>
<body>
    <div id="app">
        <ul>
          <li v-for="(curso, index) in cursos">{{curso}}</li>
        </ul>
    </div>

    <div id="app2">
        <div v-for="estado in estados">
          <p>{{estado.nome}}</p>
          <p>{{estado.populacao}}</p>
        </div>
    </div>

    <div id="app3">
        <div v-for="(value, index) in lista">
          <p>{{index}}: {{value}}</p>
        </div>
        <div v-for="(value, key, index) in melancia">
          <p>{{index}} {{key}}: {{value}}</p>
        </div>
    </div>

    <div id="app4">
        <div v-for="fruta in frutas" :key="fruta.id">
          <p>{{fruta.nome}}</p>
          <p>{{fruta.cor}}</p>
        </div>
    </div>

    <div id="app5">
        <span v-for="numero in 5">{{numero}}</span>
    </div>

    <div id="app6">
        <ul>
          <li v-for="item in lista">{{item}}</li>
        </ul>
        <button @click="removerItem">Remover</button>
        <button @click="mudarItem">Mudar</button>
    </div>
      
      
      
      
      
      
    
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                cursos: ["HTML", "CSS", "JavaScript", "PHP", "WordPress"]
            }
        });

        const vm2 = new Vue({
            el: "#app2",
            data: {
                estados: {
                sp: {
                    populacao: "45 milhões",
                    nome: "São Paulo"
                },
                mg: {
                    populacao: "21 milhões",
                    nome: "Minas Gerais"
                },
                rj: {
                    populacao: "17 milhões",
                    nome: "Rio de Janeiro"
                }
                }
            }
        });

        const vm3 = new Vue({
            el: "#app3",
            data: {
                lista: ["Item 1", "Item 2", "Item 3"],
                melancia: {
                cor: "Verde",
                peso: "10kg",
                preco: "R$ 15"
                }
            }
        });

        const vm4 = new Vue({
            el: "#app4",
            data: {
                frutas: [
                {
                    id: "banana-1",
                    nome: "Banana",
                    cor: "Amarela"
                },
                {
                    id: "melancia-1",
                    nome: "Melancia",
                    cor: "Verde"
                }
                ]
            }
        });

        const vm6 = new Vue({
            el: "#app6",
            data: {
                lista: ["Item 1", "Item 2", "Item 3"]
            },
            methods: {
                removerItem() {
                this.lista.pop(); // Ativa reatividade
                },
                mudarItem() {
                this.lista[0] = "Banana"; // Não ativa reatividade
                }
            }
        });





        
    </script>
</body>
</html>